.header{
    background-color: #787878;
    height: 170px;
    color: white;
    font-size: 4.5em;
    text-align: right;
}

.header-text{
    padding-right: 10px;
    text-align: right;
    font-family: Tw Cen MT;
    margin-top: 10px;

}

.header-small-text{
    font-size: 0.23em;

}